body {
    font-family: "Trebuchet MS", sans-serif;
}

body > div {
	width: 1100px;
	height: 850px;
	border: 1px black solid;
}

h1 {
	display: block;
	font-size: 38px;
	padding-left: 10px;
	padding-right: 10px;
}

.column {
	display: inline-table;
	width: 245px;
	height: 92.5%;
	padding: 10px;
}

#content {
	text-align: center;
}

h2 {
	font-size: 24px;
}

p {
	text-align: left;
	font-size: 17px;
}

#background {
	text-align: center;
	position: absolute;
	filter: opacity(12.5%);
	display: table;
	z-index: -1;
}

#background > div {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 40%;
	display: table-cell;
}

#immigrants-bg {
	background-image: url(ic_language.svg);
}
#resume-bg {
	background-image: url(ic_work.svg);
}
#brain-bg {
	background-image: url(ic_lightbulb_outline.svg);
}

#subtitle {
	width: 100%;
	display: block;
}

img {
	width: 200px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	object-fit: cover;
}